# Script for obtaining statistics about the papers and their filtering process
This scripts computes how many papers were at the begining, how many were filtered because of number of pages. And the statistics about the number of authors in general but also the average of them (assuming that the authors are idnetified by name not email).

### Note that the information abouts the authors and theirs emails are not uploaded into the excels due to privacy reasons.!

In [1]:
import pandas as pd
import numpy as np

In [2]:
#read excel full pages
df_first_round = pd.read_excel('../Data/Initial_info_of_papers/authors_and_papers_2020.xlsx', sheet_name=None)
df_second_round = pd.read_excel('../Data/Initial_info_of_papers/author_and_paper_2021_22.xlsx', sheet_name=None)

#Read General_info_tagging sheet sheet in which ALL (NO FILTER) papers fromm first round are
df_first_round_raw = df_first_round['General_info_tagging']
# Read RAW_papers from second round sheet in which ALL (NO FILTER) papers fromm first round are
df_second_round_raw = df_second_round['RAW']
#Read General_info_tagging sheet sheet in which FILTERED (pages >10) papers fromm second round are
df_second_round_page_filter = df_second_round['General_info_tagging']

print(df_first_round_raw.shape, df_second_round_raw.shape, df_second_round_page_filter.shape)

(931, 9) (451, 4) (343, 9)

In [3]:
df_first_round_raw.head()

,Year,Venue,DOI,Merge,VENUE YEAR,Pages,Rater1,Rater2,Rater3
0,2011,ASE,10.1109 ASE.2011.6100052,NO,ASE2011,10,NO,NO,NaN
1,2011,ASE,10.1109 ASE.2011.6100054,NO,ASE2011,1,NaN,NaN,NaN
2,2011,ASE,10.1109 ASE.2011.6100057,NO,ASE2011,10,NO,YES,NaN
3,2011,ASE,10.1109 ASE.2011.6100058,YES,ASE2011,10,YES,YES,NaN
4,2011,ASE,10.1109 ASE.2011.6100062,YES,ASE2011,10,YES,YES,NaN

In [4]:
df_second_round_raw.head()

   Year Venue                    DOI  Pages
0  2021   ASE  ASE51524.2021.9678513      5
1  2021   ASE  ASE51524.2021.9678514     13
2  2021   ASE  ASE51524.2021.9678518      5
3  2021   ASE  ASE51524.2021.9678520     13
4  2021   ASE  ASE51524.2021.9678529      5

## Total amount of papers and after page filtering

In [5]:

print('total number of papers', df_first_round_raw.shape[0] + df_second_round_raw.shape[0])
print('total number of papers in first round', df_first_round_raw.shape[0])
print('total number of papers in second round', df_second_round_raw.shape[0])

total number of papers 1382
total number of papers in first round 931
total number of papers in second round 451

In [6]:
# filter papers with pages equal or greater than 10
df_first_round_raw_pages = df_first_round_raw[df_first_round_raw['Pages'] >= 10]
df_second_round_raw_pages = df_second_round_raw[df_second_round_raw['Pages'] >= 10]
print('total number of papers with pages >= 10:', df_first_round_raw_pages.shape[0] + df_second_round_raw_pages.shape[0])

total number of papers with pages >= 10: 1015

In [7]:
df_first_round_raw_pages.shape, df_second_round_raw_pages.shape

((672, 9), (343, 4))

In [8]:
df_second_round_page_filter.head()

   Year Venue                    DOI Rater1 Rater2 Rater3 Merge  ROUND  Pages
0  2021   ASE  ASE51524.2021.9678514    YES    YES    NaN   YES      2     13
1  2021   ASE  ASE51524.2021.9678520     NO     NO    NaN    NO      2     13
2  2021   ASE  ASE51524.2021.9678552    YES    NaN    YES   YES      2     13
3  2021   ASE  ASE51524.2021.9678559    NaN    YES    YES   YES      2     13
4  2021   ASE  ASE51524.2021.9678566    NaN    YES    YES   YES      2     13

In [9]:
df_first_round_raw_pages.head()

,Year,Venue,DOI,Merge,VENUE YEAR,Pages,Rater1,Rater2,Rater3
0,2011,ASE,10.1109 ASE.2011.6100052,NO,ASE2011,10,NO,NO,NaN
2,2011,ASE,10.1109 ASE.2011.6100057,NO,ASE2011,10,NO,YES,NaN
3,2011,ASE,10.1109 ASE.2011.6100058,YES,ASE2011,10,YES,YES,NaN
4,2011,ASE,10.1109 ASE.2011.6100062,YES,ASE2011,10,YES,YES,NaN
5,2011,ASE,10.1109 ASE.2011.6100070,YES,ASE2011,10,YES,YES,NaN

In [10]:
df_second_round_page_filter.shape, df_second_round_raw_pages.shape

((343, 9), (343, 4))

## Total amount of papers and after page filtering and manual filtering

In [11]:
# filter df_first_round_raw_pages where Merge is YES 
df_first_round_raw_pages_merge = df_first_round_raw_pages[df_first_round_raw_pages['Merge'] == 'YES']
# filter df_first_round_raw_pages where Merge is YES 
df_second_round_page_filter_merge = df_second_round_page_filter[df_second_round_page_filter['Merge'] == 'YES']

print('total number of papers with pages >= 10 and Merge is YES:', df_first_round_raw_pages_merge.shape[0] + df_second_round_page_filter_merge.shape[0])
print('total number of papers with pages >= 10 and Merge is YES in first round:', df_first_round_raw_pages_merge.shape[0])
print('total number of papers with pages >= 10 and Merge is YES in second round:', df_second_round_page_filter_merge.shape[0])

total number of papers with pages >= 10 and Merge is YES: 580
total number of papers with pages >= 10 and Merge is YES in first round: 345
total number of papers with pages >= 10 and Merge is YES in second round: 235

In [12]:
df_first_round_raw_pages_merge[['Year', 'Venue']].value_counts().sort_index()/5

Year  Venue
2011  ASE      0.6
      FSE      0.6
      ICSE     0.8
2012  ASE      0.6
      FSE      0.6
      ICSE     1.6
2013  ASE      0.8
      FSE      1.6
      ICSE     1.8
2014  ASE      0.6
      FSE      0.6
      ICSE     2.0
2015  ASE      1.2
      FSE      2.0
      ICSE     3.0
2016  ASE      1.4
      FSE      1.8
      ICSE     2.4
2017  ASE      1.4
      FSE      2.0
      ICSE     2.0
2018  ASE      2.2
      FSE      3.4
      ICSE     1.4
2019  ASE      3.6
      FSE      3.4
      ICSE     3.6
2020  ASE      4.6
      FSE      7.2
      ICSE     5.4
2021  FSE      4.8
Name: count, dtype: float64

## Coded Papers

In [13]:
coded_papers =[
'10.1109 ASE.2013.6693093', '10.1145 3238147.3238166','10.1145 2635868.2635874', '10.1145 3324884.3416627','10.1145 3368089.3409687','10.1145 3338906.3340448', '10.1145 2786805.2786825','10.1109 ICSE.2012.6227129','10.1145 3377811.3380399','10.1145 3368089.3409768', '10.1145 3236024.3236059','10.1109 ICSE.2019.00086','10.1145 2786805.2786849','10.1145 3238147.3238220', '3468264.3468539','10.1145 3236024.3236058','10.1145 2491411.2491421','10.1145 2351676.2351703', '10.1145 2568225.2568260','10.1109 ICSE.2013.6606653','10.1145 2642937.2642985','10.1145 3368089.3409754', '10.1145 3236024.3236050','10.1145 2568225.2568266','10.1145 1985793.1985859','10.1109 ASE.2017.8115626', '10.1145 3180155.3180207','10.1145 2950290.2950324','10.1145 3377811.3380370','10.1145 3106237.3106285', '10.1145 2950290.2950319','10.1145 3324884.3416591','10.1109 ASE.2019.00026','10.1109 ICSE.2012.6227175', '10.1145 3368089.3409677', '10.1145 2970276.2970357','3468264.3468614','10.1109 ICSE.2019.00021', '10.1109 ASE.2015.55','10.1145 3368089.3409691','10.1109 ASE.2019.00092', '10.1109 ICSE.2017.70', '10.5555 2819009.2819034', '10.1145 2025113.2025163','10.1145 3338906.3338941','10.1109 ASE.2019.00039','10.1145 3324884.3416545','10.1145 3377811.3380369','10.1109 ICSE.2019.00076','10.1145 3377811.3380391', '3468264.3473916','10.1145 2393596.2393671','10.1109 ICSE.2017.54', '10.5555 2819009.2819018', '10.1145 3377811.3380344','10.1109 ASE.2011.6100062','10.1145 2884781.2884804', '10.1109 ICSE.2013.6606651', '10.1145 3338906.3338951','10.1145 3324884.3416570','10.1109 ASE.2019.00011','10.1109 ICSE.2019.00019', '10.1145 3324884.3416624','10.1109_ICSE43902.2021.00026','3540250.3549163','ASE51524.2021.9678559','10.1109_ICSE43902.2021.00094','3510003.3510079','3510003.3510150','3551349.3561160','3551349.3561156','10.1109_ICSE43902.2021.00046','ASE51524.2021.9678552','3540250.3549167','3540250.3549157','3510003.3510141','3540250.3549138','3510003.3510147','ASE51524.2021.9678720','3510003.3510087','3540250.3549086','3551349.3556968','3510003.3510124','3551349.3556898','3540250.3549156',
'3510003.3510042','10.1109_ICSE43902.2021.00085','3540250.3549151','3551349.3560436','3510003.3510110','3540250.3549102','10.1109_ICSE43902.2021.00143','ASE51524.2021.9678746','10.1109_ICSE43902.2021.00086','3551349.3556900','3510003.3510205','3510003.3510138','3510003.3510071','3551349.3556940','10.1109_ICSE43902.2021.00039','3510003.3510084','ASE51524.2021.9678586','10.1109_ICSE43902.2021.00066','3510003.3510163',
'3540250.3549115','3510003.3510202','3510003.3510206','3540250.3549124','3510003.3510196','3551349.3556955']

## Total amount of papers and after page filtering and manual filtering

In [14]:
print("total amount of coded papers", len(coded_papers))

total amount of coded papers 110

In [15]:
# get just Pages andDOI from df_first_round_raw_pages_merge and df_second_round_page_filter_merge
data_first_round_p = df_first_round_raw_pages_merge[['Pages', 'DOI']]
data_second_round_p = df_second_round_page_filter_merge[['Pages', 'DOI']]
data = pd.concat([data_first_round_p, data_second_round_p])

In [16]:
# get DOI and pages from coded papers
coded_papers_data = data[data['DOI'].isin(coded_papers)]
coded_papers_data.shape

(110, 2)

In [17]:
coded_papers_data.Pages.mean()

11.945454545454545

# Compute interrater agreement

In [18]:
from statsmodels.stats import inter_rater as irr
import math
import numpy as np
#get the data of labeling
data_first_round = df_first_round_raw_pages[['DOI',  'Rater1', 'Rater2', 'Rater3']].copy()
data_second_round = df_second_round_page_filter[['DOI', 'Rater1', 'Rater2', 'Rater3']].copy()
#print sizes of each and total
print(data_first_round.shape, data_second_round.shape)
print(data_first_round.shape[0] + data_second_round.shape[0])

(672, 4) (343, 4)
1015

In [ ]:
def label_rater (row, name_column):
    #Transform YES into 1, NO into 0 and ignore NANs, since they are not labeled
    if row[name_column] == 'YES' :
        return 1
    if row[name_column] == 'NO' :
        return 0
    if math.isnan(row[name_column]) or row[name_column] == 0:
        return np.nan
    return 'NOP'

In [20]:
# join data firt round and second round (stack it)
data = pd.concat([data_first_round, data_second_round])
data.shape

(1015, 4)

In [ ]:
raters_pre_filtering_categories = data.copy()
#Apply the change from labels to 1 or 0 to each rater
raters_pre_filtering_categories['nom_rat1'] =  raters_pre_filtering_categories.apply(lambda row: label_rater(row, 'Rater1'), axis=1)
raters_pre_filtering_categories['nom_rat2'] =  raters_pre_filtering_categories.apply(lambda row: label_rater(row, 'Rater2'), axis=1)
raters_pre_filtering_categories['nom_rat3'] =  raters_pre_filtering_categories.apply(lambda row: label_rater(row, 'Rater3'), axis=1)

In [ ]:
#check if NOP is present in nom_rat1 or nom_rat2 or nom_rat3 (sanity check)
raters_pre_filtering_categories[(raters_pre_filtering_categories['nom_rat1'] == 'NOP') | (raters_pre_filtering_categories['nom_rat2'] == 'NOP') | (raters_pre_filtering_categories['nom_rat3'] == 'NOP')].shape

(0, 7)

In [23]:
raters_pre_filtering_categories.drop(['Rater1', 'Rater2', 'Rater3'], axis=1, inplace=True)
raters_pre_filtering_categories.shape

(1015, 4)

In [24]:
import simpledorff

In [25]:
raters_pre_filtering_categories.dtypes

DOI          object
nom_rat1    float64
nom_rat2    float64
nom_rat3    float64
dtype: object

In [26]:
# Get the sahpe of raters in suitable matrix for the computation of agreement
raters_pre_filtering_categories_transpose = raters_pre_filtering_categories.transpose()
raters_pre_filtering_categories_transpose.columns = raters_pre_filtering_categories_transpose.iloc[0]
raters_pre_filtering_categories_transpose = raters_pre_filtering_categories_transpose.tail(-1).copy()
raters_pre_filtering_categories_transpose

DOI,10.1109 ASE.2011.6100052,10.1109 ASE.2011.6100057,10.1109 ASE.2011.6100058,10.1109 ASE.2011.6100062,10.1109 ASE.2011.6100070,10.1109 ASE.2011.6100074,10.1145 2025113.2025120,10.1145 2025113.2025124,10.1145 2025113.2025133,10.1145 2025113.2025147,...,3510003.3510231,3510003.3510619,3510003.3510621,3510003.3510625,3510003.3510627,3510003.3511561,3510003.3512759,3510003.3512760,3510003.3512764,3510003.3512766
nom_rat1,0.0,0.0,1.0,1.0,1.0,0.0,1.0,NaN,NaN,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN
nom_rat2,0.0,1.0,1.0,1.0,1.0,NaN,NaN,0.0,1.0,NaN,...,NaN,0.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0
nom_rat3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,...,1.0,NaN,1.0,NaN,0.0,NaN,1.0,1.0,1.0,0.0

In [27]:
raters_pre_filtering_categories_transpose.dtypes

DOI
10.1109 ASE.2011.6100052    object
10.1109 ASE.2011.6100057    object
10.1109 ASE.2011.6100058    object
10.1109 ASE.2011.6100062    object
10.1109 ASE.2011.6100070    object
                             ...
3510003.3511561             object
3510003.3512759             object
3510003.3512760             object
3510003.3512764             object
3510003.3512766             object
Length: 1015, dtype: object

In [28]:
for column in raters_pre_filtering_categories_transpose.columns:
    raters_pre_filtering_categories_transpose[column] = pd.to_numeric(raters_pre_filtering_categories_transpose[column])

In [29]:
raters_pre_filtering_categories_transpose

DOI,10.1109 ASE.2011.6100052,10.1109 ASE.2011.6100057,10.1109 ASE.2011.6100058,10.1109 ASE.2011.6100062,10.1109 ASE.2011.6100070,10.1109 ASE.2011.6100074,10.1145 2025113.2025120,10.1145 2025113.2025124,10.1145 2025113.2025133,10.1145 2025113.2025147,...,3510003.3510231,3510003.3510619,3510003.3510621,3510003.3510625,3510003.3510627,3510003.3511561,3510003.3512759,3510003.3512760,3510003.3512764,3510003.3512766
nom_rat1,0.0,0.0,1.0,1.0,1.0,0.0,1.0,NaN,NaN,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN
nom_rat2,0.0,1.0,1.0,1.0,1.0,NaN,NaN,0.0,1.0,NaN,...,NaN,0.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0
nom_rat3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,...,1.0,NaN,1.0,NaN,0.0,NaN,1.0,1.0,1.0,0.0

## Interrater agreement of the papers

In [30]:
simpledorff.calculate_krippendorffs_alpha(raters_pre_filtering_categories_transpose)

0.6687883894870259

In [31]:
import krippendorff
krippendorff.alpha(reliability_data=raters_pre_filtering_categories_transpose, level_of_measurement="nominal")

0.6687883894870259

# Get Info of authors and statistics of papers
### Please note that due to privacy reasons this information is not included in the excel and instead is filled out with a placeholder.

In [33]:
#read excel full pages
df_first_round = pd.read_excel('../Data/Initial_info_of_papers/authors_and_papers_2020.xlsx', sheet_name=None)
df_second_round = pd.read_excel('../Data/Initial_info_of_papers/author_and_paper_2021_22.xlsx', sheet_name=None)


#These authors are missing to filtered by the merge, they are already filtered by page
df_first_round_authors = df_first_round['Authors']
# These authors are anly for the already filtered papers  by page and merged
df_second_round_authors = df_second_round['Authors']

# filter first by mergee YES
df_first_round_authors = df_first_round_authors[df_first_round_authors['Merge'] == 'YES'].copy()

print(df_first_round_authors.shape, df_second_round_authors.shape)

(1583, 10) (1209, 9)

In [34]:
df_first_round_authors_copy = df_first_round_authors[['Year', 'Venue', 'DOI', 'Author', 'Email','Firt or last']].copy()
df_second_round_authors_copy = df_second_round_authors[['Year', 'Venue', 'DOI', 'Author', 'Email','Firt or last']].copy()
print(df_first_round_authors_copy.shape, df_second_round_authors_copy.shape)

(1583, 6) (1209, 6)

## Total amount of Authors and Unique Authors
### Please take into account the nore at the top of the file

In [35]:
data_authors = pd.concat([df_first_round_authors_copy, df_second_round_authors_copy])
print('number of authors', data_authors.shape)

number of authors (2792, 6)

In [36]:
print('number of unique authors', data_authors.Author.nunique())

number of unique authors 1734

In [ ]:
number_article_author = data_authors.groupby(['Author'])['DOI'].size().sort_values(ascending=False).reset_index(name='number_articles')
number_article_author.head()

In [40]:
number_article_author['number_articles'].mean()

1.610149942329873

### Authors contacted

In [41]:
# Filter those that were dirst or last author, and drop duplicates
data_authors_copy = data_authors[data_authors['Firt or last'] == True].copy()
# data_authors_copy.drop_duplicates(inplace=True)
print('authors contacted with duplicates and no email', data_authors_copy.shape)
# drop authors that have nan values in email
print('authors that could be contacted due to email existance', data_authors_copy.dropna(subset=['Email']).shape)
# drop duplicates
print('authors contacted without duplicates possible nanvalues', data_authors_copy.drop_duplicates(subset=['Author']).shape)
data_authors_copy.dropna(subset=['Email'], inplace=True)
data_authors_copy.drop_duplicates(subset=['Author'], inplace=True)
print('authors contacted', data_authors_copy.shape)

authors contacted with duplicates and no email (1158, 6)
authors that could be contacted due to email existance (1090, 6)
authors contacted without duplicates possible nanvalues (829, 6)
authors contacted (769, 6)